body,
html {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover,
a:focus {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  width: 1000px;
}

.header {
  width: 1024px;
  height: 95px;
  padding: 23px 37px;
  box-sizing: border-box;
}

.header a.logo {
  display: flex;
  align-items: center;
}

.header a.logo img:first-child {
  margin-right: 4px;
}

.header__line {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #959393;
}

.hashtag {
  margin: 25px 60px 0;
  font-family: Gabriela;
  font-size: 42px;
  line-height: 30px;
  height: 30px;
  color: #000000;
}

.adventures {
  margin-top: 27px;
}

.adventure {
  margin: 45px 0 0 70px;
  display: flex;
}

.adventure:first-child {
  margin-top: 0;
}

.adventure .adventure__picture {
  width: 200px;
}

.adventure__picture img {
  max-width: 100%;
}

.adventure__main {
  margin-left: 30px;
  width: 522px;
}

.adventure__name {
  font-family: Gabriela;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 10px;
}

.adventure__name a {
  color: #000000;
}

.adventure__description {
  font-family: Gabriela;
  font-size: 18px;
  line-height: 28px;
  white-space: pre-line;
}

.adventure__hashtags {
  display: flex;
  flex-flow: wrap;
  width: 300px;
}

.adventure__hashtag {
  margin: 10px 8px 0 0;
  display: inline-block;
  background: #b3b3b3;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  padding: 10px 18px;
  color: #ffffff;
}

.scene {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene__description {
  position: relative;
  width: 950px;
  height: 380px;
}

.scene__descriptionText {
  max-width: 890px;
  position: absolute;
  font-family: Gabriela;
  font-size: 21px;
  line-height: 38px;
  color: #ffffff;
  word-break: break-all;
  white-space: pre-line;
}

.scene__descriptionText--top_left {
  top: 24px;
  left: 30px;
}

.scene__descriptionText--bottom_left {
  bottom: 24px;
  left: 30px;
}

.scene__descriptionText--top_right {
  top: 24px;
  right: 30px;
}

.scene__descriptionText--bottom_right {
  bottom: 24px;
  right: 30px;
}

.scene__achievements {
  margin-top: 37px;
  display: grid;
  grid-template-columns: 495px 495px;
  grid-gap: 30px 10px;
}

.achievement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement img {
  width: 147px;
  border-radius: 75px;
}

.achievement .achievement_main {
  margin-left: 12px;
}

.achievement__got {
  font-family: Gabriela;
  font-size: 28px;
  line-height: 35px;
}

.achievement__text {
  font-family: Gabriela;
  font-size: 48px;
  line-height: 38px;
  margin-top: 10px;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.actions a {
  margin: 8px 20px;
  display: inline-block;
  background: #555555;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 29px;
  text-align: center;
  color: #ffffff;
  padding: 18px 44px;
}
