body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  width: 1000px;
}

.header {
  width: 1024px;
  height: 95px;
  padding: 23px 37px;
  box-sizing: border-box;
}

.header a.logo {
  display: flex;
  align-items: center;
}

.header a.logo img:first-child {
  margin-right: 4px;
}

.header__line {
  width: 100%;
  border-bottom: 1px solid #959393;
}

.hashtag {
  margin: 25px 60px -15px;
  font-size: 42px;
  line-height: 15px;
  color: #000000;
}

.adventures {
  margin-top: 5px;
}

.adventure {
  margin: 45px 0 0 60px;
  display: flex;
}

.adventure .adventure__picture {
  width: 200px;
}

.adventure__picture img {
  max-width: 100%;
}

.adventure__main {
  margin-left: 30px;
  width: 522px;
}

.adventure__name {
  font-size: 30px;
  line-height: 15px;
  margin-bottom: 10px;
}

.adventure__description {
  font-size: 18px;
  line-height: 28px;
  white-space: pre-line;
}

.adventure__hashtags {
  display: flex;
  width: 300px;
}

.adventure__hashtag {
  margin: 10px 8px 0 0;
  display: inline-block;

  background: #b3b3b3;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  padding: 10px 18px;
  color: #ffffff;
}

.scene {
  margin-top: 45px;
}

.scene__description {
  position: relative;
}

.scene__descriptionText {
  position: absolute;
}

.scene__descriptionText--top_left {
  top: 24px;
  left: 30px;
}

.scene__descriptionText--bottom_left {
  bottom: 24px;
  left: 30px;
}

.scene__descriptionText--top_right {
  top: 24px;
  right: 30px;
}

.scene__descriptionText--bottom_right {
  bottom: 24px;
  right: 30px;
}

.scene__achievements {
  margin-top: 37px;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 15px 15px;
}

.achievement {
  display: flex;
  align-items: center;
}

.achievement img {
  width: 147px;
  height: 147px;
  border-radius: 75px;
}

.achievement div {
  margin-left: 15px;
}

.achievement__got {
  font-size: 30px;
  line-height: 38px;
}

.achievement__text {
  font-size: 48px;
  line-height: 38px;
}
