body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  width: 1000px;
}

.header {
  width: 1024px;
  height: 95px;
  padding: 23px 37px;
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
}

.header__line {
  width: 100%;
  border-bottom: 1px solid #959393;
}

.adventures {
  margin-top: 5px;
}

.adventures .adventure {
  margin: 45px 0 0 60px;
}
